@-webkit-keyframes fadeInLeft{
	0%{opacity:0;-webkit-transform:translate3d(-20%,0,0);transform:translate3d(-20%,0,0)}
	to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInLeft{
	0%{opacity:0;-webkit-transform:translate3d(-20%,0,0);transform:translate3d(-20%,0,0)}
	to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.fadeInLeft.animated{-webkit-animation:fadeInLeft 1.5s ease-in-out;-moz-animation:fadeInLeft 1.5s ease-in-out;animation:fadeInLeft 1.5s ease-in-out;}
@-webkit-keyframes fadeInRight{
	0%{opacity:0;-webkit-transform:translate3d(20%,0,0);transform:translate3d(20%,0,0)}
	to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInRight{
	0%{opacity:0;-webkit-transform:translate3d(20%,0,0);transform:translate3d(20%,0,0)}
	to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.fadeInRight.animated{-webkit-animation:fadeInRight 1.5s ease-in-out;-moz-animation:fadeInRight 1.5s ease-in-out;animation:fadeInRight 1.5s ease-in-out;}
@-webkit-keyframes fadeInUp{
	0%{opacity:0;-webkit-transform:translate3d(0,20%,0);transform:translate3d(0,20%,0)}
	to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInUp{
	0%{opacity:0;-webkit-transform:translate3d(0,20%,0);transform:translate3d(0,20%,0)}
	to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.fadeInUp.animated{-webkit-animation:fadeInUp 1.5s ease-in-out;-moz-animation:fadeInUp 1.5s ease-in-out;animation:fadeInUp 1.5s ease-in-out;}
