$color_primary:#17B978;$color_secondary:#BEE274;
.-color-primary{color:$color_primary;}

//Default
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: #151619;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    --header-height:90px;
}

a, a:hover {
    color: #4D4D4D;
    text-decoration: none;
    // transition: all 0.3s;
}

h1,h2,h3,h4,h5,h6 {

}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}
a {
    outline: none;
}
strong{
    font-weight: 700;
}

.wrapper{
    overflow-x: hidden;
}
// Fix iframe
.videoWrapper{position:relative;padding-bottom:56.25%; /* 16:9 */height:0;}
.videoWrapper iframe,.videoWrapper object,.videoWrapper embed,.videoWrapper video{position:absolute;top:0;left:0;width:100%;height:auto;}


/* Slider */
.slick-slider:not(.slick-initialized){
    display: none;
}
.slider__item__wrap + .slider__item__wrap{
    display: none;
}
.slick-arrow{
    border: 0;
    background:transparent;
    color: transparent;
    font-size: 28px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    --arrow: -65px;
    transition: all .5s;

    &.slick-disabled{
        opacity: .6;
    }

    &:before {
        content: '\e907';
        font-family: 'icomoon';
        display: block;
        margin: 0 auto;
        color: #5C6167;
    }
    &:hover{
        &:before{
            color: #467B9D;
        }
    }
}

.slick-next:before{
    content: '\e908';
}

.slick-dots{
    bottom: -65px;
    li{
        margin: 0 8px;
        button{
            position: relative;
            width: 16px;
            height: 4px;
            background: #5C6167;
            border-radius: 4px;
            transition: all .5s;
        }
        &.slick-active button, &:hover button{
            background-color: #467B9D;
        }
    }
}


/**/
.dnfix__thumb{position:relative;height:auto;width:100%;overflow:hidden;display:block;padding-top:68.075%;}
.dnfix__thumb img{margin:0px auto;position:absolute;width:100%;height:100%;top:0;left:0;object-fit:cover}
.dnfix__thumb.-contain img{object-fit:contain;}
.dnfix__thumb{transition:all 1000ms cubic-bezier(0.215,0.61,0.355,1);
    img{transition:all 1000ms cubic-bezier(0.215,0.61,0.355,1);}
}

/* Text truncate */
.text__truncate{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;display:-webkit-inline-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.text__truncate.-n2{-webkit-line-clamp:2;}
.text__truncate.-n3{-webkit-line-clamp:3;}
.text__truncate.-n4{-webkit-line-clamp:4;}

/**/
br{
    @media (max-width:1199px){
        &.pc{
            display: none;
        }
    }
}

/**/

.btn{
    position:relative;
    min-width:160px;
    text-align:center;
    color: #fff;
    background: linear-gradient(90deg, #6DC5D3 -1.98%, #2E729D 102.82%);
    border-radius: 8px;
    border: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 12px;
    transition:all .5s;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 10%;
        height: 100%;
        opacity: 0;
        border-radius: inherit;
        background: linear-gradient(90deg, #6DC5D3 -1.98%, #2E729D 102.82%);
        transition: all .5s
    }
    span{
        position: relative;
        z-index: 1;
    }
    &:focus{
        box-shadow: none;
    }
    &:hover{
        color: #fff;
        box-shadow: 0 0 10px rgba(255, 255, 255, .2);
        &:before{
            opacity: 1;
            width: 100%;
        }
    }

    @media (max-width: 575px){
        padding: 8px;
        font-size: 14px;
        line-height: 24px;
        min-width: 120px;
    }
}

/*back to top*/
.back-to-top{position:fixed;bottom:-45px;right:20px;cursor:pointer;z-index:999;
    width: 40px;
    height: 40px;
    background: url(../img/back-to-top.svg) no-repeat;
    background-size: contain;
    transition: all .5s;
    &:hover{
        transform: scale(1.1);
    }
    &.active{bottom:25px;}
}



@media (max-width: 991px){
    body {
        --header-height: 80px;
    }
}
@media (max-width: 767px){
    .container{
        max-width: 100%;
    }
}
@media (min-width: 768px){
    .col-md-20{
        flex: 0 0 auto;
        width: 20%;
    }
}
@media (min-width: 992px){
    .g-lg-40, .gx-lg-40 {
        --bs-gutter-x: 2.5rem;
    }
    .col-lg-20{
        flex: 0 0 auto;
        width: 20%;
    }
    .col-lg-40{
        flex: 0 0 auto;
        width: 40%;
    }
    .col-lg-46{
        flex: 0 0 auto;
        width: 46%;
    }
    .col-lg-54{
        flex: 0 0 auto;
        width: 54%;
    }
    .col-lg-60{
        width: 60%;
    }
}
@media (min-width: 1200px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1184px;
    }
}